@import "tailwindcss";

@import "@fontsource-variable/inter";

body {
  font-family: "Inter", sans-serif;
}

.shiny-text {
  color: #b5b5b5a4; /* Adjust this color to change intensity/style */
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}

.animated-gradient-border {
  position: relative;
  border-radius: 1.5rem;
  padding: 2rem;
  background: linear-gradient(270deg, #ff6ec4, #7873f5, #42e695, #ff6ec4);
  background-size: 600% 600%;
  animation: borderGradientMove 8s ease infinite;
  /* This creates the border effect */
}

.animated-gradient-border > .content {
  position: relative;
  border-radius: 1.2rem;
  background: #18181b; /* Your card background */
  padding: 1.5rem;
  z-index: 1;
}

@keyframes borderGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.card-spotlight {
  position: relative;
  border-radius: 1.5rem;
  border: 1px solid #08125f;
  background-color: transparent;
  padding: 20px;
  overflow: hidden;
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgba(255, 255, 255, 0.05);
}

.card-spotlight::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    var(--spotlight-color),
    transparent 80%
  );
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
